::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mdi-b.-menuIcon::before {
    content: var(--mdi-menu);
}

.mdi-b.-courseIcon::before {
    content: var(--mdi-book-education);
}

.mdi-b.-blog::before {
    content: var(--mdi-post);
}

.mdi-b.-user::before {
    content: var(--mdi-account);
}

.mdi-b.-dash::before {
    content: var(--mdi-dots-grid);
}

.mdi-b.-vocab::before {
    content: var(--mdi-alpha-v-circle-outline);
}

.mdi-b.apple-keyboard-command::before {
    content: var(--mdi-apple-keyboard-command);
}

.mdi-b.dots-vertical::before {
    content: var(--mdi-dots-vertical);
}
.mdi-b.back::before {
    content: var(--mdi-arrow-left-circle);
}
.mdi-b.-account::before{
    content: var(--mdi-home-account);
}
.mdi-b.-role::before{
    content: var(--mdi-shield-key-outline);
}
.mdi-b.-user::before{
    content: var(--mdi-account);
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #6c757d !important;
}

.btn-outline-primary {
    color: #ff782d;
    border-color: #ff782d;
}

.btn-outline-primary:hover {
    background-color: #ff782d;
    border-color: #ff782d;
    color: white;
}

.btn-outline-primary:focus {
    background-color: #ff782d;
    border-color: #ff782d;
    color: white;
}

.wrapper {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #eee;
    min-width: 0;
}

/* Sidebar */
#sidebar {
    z-index: 1000;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}





.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem 0 rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse {
    min-width: 200px;
}

.avatar {
    height: 40px;
    width: 40px;
}


/* Admin Header */
.admin-header {
    background-color: white;
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.admin-header__icon {
    font-size: 25px;
    margin-right: 6px;
}

/* Filter */
.filter-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.filter-part {
    padding-left: 1rem;
    padding-right: 1rem;
}

.filter-part select {
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.filter-text {
    min-width: 18%;
    font-weight: bold;
    font-size: 1rem;

}

.filter-btn {
    font-size: 1rem;
    width: 80px;
    height: 36px;
    background-color: black;
    border-radius: 1rem;
    color: white;
}

.filter-btn:hover {
    background-color: #ff782d;
    color: white;
}

/* Modal */
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

button.close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Small devices (tablets, 576px and up) */
@media (max-width: 767.98px) {
    #sidebar {
        width: 70px !important;
        min-width: 70px;
        transition: all 0.5s ease-in-out;
    }

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
        transition: all 0.5s ease-in-out;

    }


    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) a.sidebar-link .sidebar-item__text {
        display: none;
    }

    #sidebar.expand .sidebar-logo,
    #sidebar.expand a.sidebar-link .sidebar-item__text {
        animation: fadeIn .5s ease;
    }

    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 .075rem .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }

    #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all .2s ease-out;
    }

    #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
        position: absolute;
        top: 0;
        left: 70px;
        background-color: #0e2238;
        padding: 0;
        min-width: 15rem;
        display: none;
    }

    #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
        display: block;
        max-height: 15em;
        width: 100%;
        opacity: 1;
    }

    #sidebar:not(.expand) .sidebar-logo,
    #sidebar:not(.expand) a.sidebar-link .sidebar-item__text {
        display: none;
    }

    #sidebar.expand .sidebar-logo,
    #sidebar.expand a.sidebar-link .sidebar-item__text {
        animation: fadeIn .2s ease;
    }
}

/* Medium and large (desktops, 768px and up) */
@media (min-width: 768px) {
    #sidebar {
        width: 260px;
        min-width: 260px;
    }

    #sidebar .sidebar-logo,
    #sidebar a.sidebar-link .sidebar-item__text {
        animation: fadeIn .2s ease;
    }

    #sidebar .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 .075rem .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }

    #sidebar .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all .2s ease-out;
    }

    .hide-in-lg-md {
        display: none;
    }
}

.modal-dialog-scrollable {
    height: unset !important;
    max-height: calc(100% - var(--bs-modal-margin)* 2);
    ;
}

.form-row {
    display: flex;
    flex-wrap: wrap;

}

