/*----  Main Style  ----*/

.search_bar{
    height:40rem;
}
.search_button{
    width:10%;
}
input[type="search"]{
    font-size: 20rem;
}
input::placeholder{
    font-size: 20rem;
}
.autocomplete{
    position:relative;
    display: inline;
}
.autocomplete-items {
    position: absolute;
    border: 1rem solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1rem solid ;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #e9e9e9 !important;
}
.flashcard__container .col{
    min-width:300rem;
    transition: all 1.2s ease;
}
.flashcard__container .row{
    width:1305rem;
}
.flashcard__container .card{
    height:300rem;
    -webkit-transition:all .6s ease; 
    -moz-transition:all .6s ease; 
    -o-transition:all .6s ease;
    -ms-transition:all .6s ease; 
    transition: all 0.6s ease;
    box-shadow: 0px 3rem 4rem rgba(0, 0, 0, 0.40);
}
.flashcard__container .card:hover{
    box-shadow: 0px 15rem 26rem rgba(0, 0, 0, 0.50);
    transform:scale(1.05);
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease;
}
.pretitle{
    font-size:15rem;
    margin:0;
    padding:0;
}
.word_title{
    font-size: 25rem;
    line-height: 1.2;
    text-transform: capitalize;
    color: #000000;
    font-family: Exo, 'Source Sans Pro';
    white-space: nowrap;
}
.word_pronouce{
    font-size: 15rem;
    line-height: 1.5;
    color: #555555;
    font-family: Jost, 'Source Sans Pro';
    white-space: nowrap;
}
.word_definition{
    font-size: 20rem;
    line-height: 1.5;
    color: #000000;
    font-family: Jost, 'Source Sans Pro';
    overflow: hidden;
    height: 150rem;
}
.word_read_more{
    color: var(--mdc-neutral);
    font-size: 17rem;

}
.icon_search{
    font-size: 20rem;
}
.round-5{
    border-radius: 20rem;
}
.padding-5{
    padding:30rem;
}
.margin-5{
    margin:13rem;
}
.marginy-5{
    margin-top: 20rem;
    margin-bottom: 20rem;
}
.mtop-5{
    margin-top: 13rem;
}
.width-search{
    width:45%;
}
@media only screen and (max-width: 1360px) {
    .width-search{
        width:60%;
    }
    .flashcard__container .row{
        width:fit-content;
        justify-content: baseline;
    }
}
@media only screen and (max-width: 579px) {
    .width-search{
        width:70%;
    }
    .col{
        flex: 0 0 auto;
    }
}