/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Set a base font size and family */
body {
    font-size: 16rem;
    font-family: Arial, sans-serif;
}

/* Container for the blog list */
.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300rem, 1fr));
}
/* Tiêu đề và thanh tìm kiếm */
.search-form form{
   width: 35%;
}

.title-h3{
    white-space: nowrap;
    font-weight: 600;
    font-size: 30rem;
    letter-spacing: 3rem;
}

.input-search{
    max-width: 100%; 
    height: 38rem;  
    font-size: 15rem;
}

.input-search::placeholder{
    font-size: 15rem;
}

.input-group input {
    outline: none;
    border: none;
    border-bottom: 1rem solid #666;
}

.input-group i{
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
}

/* Individual blog item */
.img-blog{
    width: 100%;
}
.blog-item {
    background-color: var(--mdc-surface-container);
    padding: 20rem;
    border-radius: 5rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}

.blog-item p {
    font-size: 14rem;
    color: #666;
}

.blog-item a {
    color: #007bff;
    text-decoration: none;
}

.blog-item a:hover {
    text-decoration: underline;
}

.blog-item h4 {
    font-size: 28rem;
    margin-bottom: 10rem;
    color: #000;
    font-weight: 600;
}

.blog-item .date-group {
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}

.blog-item .date-group i {
    margin-right: 10rem;
    color: #fcdc97;
}

.blog-item .date-group p {
    font-size: 16rem;
    color: #666;
    margin-bottom: 0;
}

.blog-item a > span {
    text-align: justify;
}

.pl-3 {
    padding-left: 20rem !important;
}

.small {
    font-size: 80%;
}

.g-0 {
    padding-left: 0;
    padding-right: 0;
}

.pagination .page-link {
    font-size: 20rem;
    color: #000;
    background-color: var(--mdc-surface-container);
    border-radius: 50%;
    margin-right: 5rem;
}
.pagination .page-link:hover{
    background-color: var(--mdc-surface-primary);
}
.pagination .page-item.active .page-link {
    background-color: var(--mdc-surface-primary);
    border-color: black; 
    color: white;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
        border-radius: 50%;
}
.category-list {
    font-size:20rem;
}

.category-list a{
    font-size: 20rem;
}

.recent-post img{
    width: 35%;
    height: 100%;
    object-fit: cover;
    border-radius: 20rem;
}

.recent-post .pl-3 h4{
    max-height: 100%;
    font-size: 23rem;
    font-weight: 600;
    color: #000;
}
.recent-post a{
    background-color: var(--mdc-surface-container);
}

.tags a {
    font-size: 15rem;
}
.margin-y-3{
    margin-top:13rem;
    margin-bottom:13rem;
}
.pd-3{
    padding:13rem;
}
.margin-3{
    margin:13rem;
}
/* Responsive styles */
@media screen and (max-width: 1360px) {

    .search-form form{
        font-size: 15rem;
        margin-left: -58%;
    }
    .blog-item h4{
        font-size: 20rem;
    }
    .recent-post .pl-3{
        font-size: 19rem;
    }
}
@media screen and (max-width: 928px) {

    .search-form form{
        font-size: 12rem;
        max-width: 30rem;
        margin-right: 44%;
        position: relative;
    }

    .search-form form .input-group input[type="text"] {
        display: none;
    }

    .search-form form .input-group i {
        margin-right: -250rem;
        font-size: 12rem;
    }   
    .search-form h3 {
        font-size: 15rem !important;
        letter-spacing: 1rem;
    }
}
