/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15rem
}
li{
    list-style: none;
    font-size: 15rem
}
li{
    list-style: none;
}
/* Set a base font size and family */
body {
    font-family: Arial, sans-serif;
}

.mr-3 {
    margin-right: 5rem !important;
}

.fa-brands {
    cursor: pointer;
}

.pl-3 {
    padding-left: 1rem !important;
}

/* Row */
.row{
    justify-content: center;
    margin: 0;
}
.row img{
    align-self: center;
}

/*Container*/

/**/
.text-muted{
    font-size: 15rem;
}
.email_notification{
    color: red;
}
/* Customize Pagination side (Left)*/
.pagination_all_blogs{
    background-color: #e9efeb;
    position: fixed;
    width: fit-content;
    top:0;
    left: 80rem;
    border-left: 1px solid black;
}
.pagination{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination .page-item{
    width: 25px;
    padding: 5px;
    border-radius: 40%;
    text-align: center;
    margin-top: 3px;
}
.pagination .page-item .page-link {
    color: #000;
    font-size: 10pt;
    width: 100%;
    background: none;
    border: none;
}

.pagination .page-item:hover{
    background-color: #b4f6a3;
}

.pagination .page-item.active{
    background-color: #b4f6a3; 
    border-color: black; 
}
/* Other content */
.other_content{
    width: 100%;
}

/* Customize Recent Post*/
.recent-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category-list{
    width: 40%;
 }
.category-list a{
    font-size: 15rem;
 }

.recent-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.recent-post .pl-3 h4{
    align-self: center;
    align-self: center;
    max-height: 100%;
    font-weight: 600;
    color: #000;
}
/* Tags */
.tags .btn{
    font-size: 15rem;
    padding: 10px;
    margin-right: 5rem;
}
/* Tags */
.tags .btn{
    font-size: 15rem;
    padding: 10px;
    margin-right: 5rem;
}
.tags h3 {
    font-size: 15rem;
    font-size: 15rem;
    font-weight: 600;
    color: #000;
}

.tags-relative .icon-prev {
    position: relative;
}

.tags-relative .page-link {
    line-height: 100%;
    width: 50%;
    top: 25%;
    left: 25%;
}

.tags-relative .page-link i {
    padding: 1.8rem 1.8rem;
    background-color: #ccc;
    border-radius: 5px;
}

.tags-relative .prev {
    border: 1px solid #DCDCDC;
    border-radius: 15px;
    padding-bottom: 15px;
    width: 40%;
    margin-right: 15px;
}

.tags-relative .title-prev {
    margin-top: 5px;
}

.tags-relative .title-prev p{
    font-weight: 200;
}

.tags-relative .title-prev span{
    font-weight: bold;
}

.tags-relative .next {
    border: 1px solid #DCDCDC;
    border-radius: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 40%;
}

.tags-relative .icon-next{
    position: absolute;
    top: 25%;
    left: 50%;
}

.tags-relative .title-next p{
    font-weight: 200;
}

.tags-relative .title-next {
    margin-top: 5px;
    position: absolute;
    left: 5px;
}

.tags-relative .title-next span{
    font-weight: bold;
}
/* Banner */
.banner_img{
    max-width: 100%;
    height: auto;
    transform: rotate(90deg);
}
/* Media */
.media .media-body .author{
    font-size: 10rem;
    font-size: 10rem;
    font-weight: 600;
}

.media .media-body .date{
    font-size: 10rem;
    font-size: 10rem;
}

.media .media-body .reply{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.comment > .ml-5 {
    margin-left: 5rem;
}

.form-cmt .input-author {
    width: 100%;
    height: 50px;
    display: flex;
}

.form-cmt .input-author input[type="text"] {
    width: 90%;
    height: 100%;
    font-weight: 300;
}

.form-cmt .input-author input[type="email"] {
    width: 100%;
    height: 100%;
    font-weight: 300;
}

.form-cmt .input-area textarea {
    width: 100%;
    height: 100%;
    font-weight: 300;
}

.form-cmt form > button {
    width: 25%;
    height: 50px;
    font-weight: 600;
    color: #fff;
    background-color: #ff782d;
    border: none;
    border-radius: 2.2rem;
}

.form-cmt form > button:hover {
    background-color: #ffa04d;
    color: #fff;
}

.active {
    color: #ff782d;
}

#btnCmt{
    font-size: 12rem;
}
#inputNameCmt, #inputEmailCmt, #inputComment{
    font-size: 20rem;
    margin-top: 10px;
}

#btnCmt{
    font-size: 12rem;
}
#inputNameCmt, #inputEmailCmt, #inputComment{
    font-size: 20rem;
    margin-top: 10px;
}

@media screen and (max-width:890px){
    
    .tags-relative .icon-prev .page-link{
        bottom: 50%;
        left: 50%;
        width: 25%;
        height: 50px;
        padding-left: 1.5rem;
        transform: translateY(150%);
    }

    .tags-relative .prev .title-prev{
        width: 25%;
        right: 50%;
    }

    .tags-relative .next .title-next {
        width: 50%;
    }
    
    .tags-relative .icon-next .page-link{
        bottom: 50%;
        left: 10%;
        width: 25%;
        height: 50px;
        padding-left: 1.5rem;
        transform: translateY(48%);
    }
    
}