
nav>a.nav-item.-dictionary::before {
    content: var(--mdi-book-open-outline);
}

nav>a.nav-item.-dictionary._selected::before {
    content: var(--mdi-book-open);
}

nav>a.nav-item.-courses::before {
    content: var(--mdi-book-multiple-outline);
}

nav>a.nav-item.-courses._selected::before {
    content: var(--mdi-book-multiple);
}

nav>a.nav-item.-blogs::before {
    content: var(--mdi-comment-text-multiple-outline);
}

nav>a.nav-item.-blogs._selected::before {
    content: var(--mdi-comment-text-multiple);
}

nav>a.nav-item.-profile::before {
    content: var(--mdi-account-circle-outline);
}

nav>a.nav-item.-profile._selected::before {
    content: var(--mdi-account-circle);
}

nav>a.nav-item.-search._action::before {
    content: var(--mdi-magnify);
}

nav>a.nav-item.-back._action::before {
    content: var(--mdi-arrow-left);
}
