html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Regular";
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}
.mdi-b.calendar::before{
  content: var(--mdi-calendar);
}
.mdi-b.student::before{
  content: var(--mdi-account-school);
}
.mdi-b.document::before{
  content: var(--mdi-file-document-outline);
}
.mdi-b.prev::before{
  content: var(--mdi-less-than);
}
.mdi-b.next::before{
  content: var(--mdi-greater-than);
}
.mdi-b.search::before{
  content: var(--mdi-magnify);
}
.container{
  padding-top: 24rem;
  padding-bottom: 24rem;
}
.courses-section__header{
  font-family: "Roboto Medium";
}
.filter-text,.filter-btn,.course-item__info-section__author{
  font-family: "Roboto Bold";

}
/* Course-section */
.courses-section__header {
  margin-right: 45rem;
  font-size: 48rem;
  font-weight: 600;
  line-height: 1.2000000212;
  color: #000000;
  text-transform: capitalize;
  white-space: nowrap;
  flex-shrink: 0; 
}
.courses-section__header__search-wrapper{
  min-width: 25%;
  width: 25%;
}
#search{
  font-size: 14rem; 
  padding:4rem;
  border-radius:5rem 5rem ;
}
.courses-section__header__search-icon{
  font-size: 20rem;
  padding: 8rem;
}
.btn-search {
  color: #ff782d;
  font-size: 1.8rem;
}

.courses-section__content__course-item {
  box-sizing: border-box;
  padding-right: 2rem;
  height: 240rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e9e9e9;
  background-color: #ffffff;
  border-radius: 6rem;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;

}

.courses-section__content__course-item-image {
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6rem 0 0 6rem;
  flex-shrink: 0;
}


.courses-section__content__course-item__info {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  white-space: nowrap;
  flex-shrink: 0;
  width: 60%;
  height: 100%;
  padding: 8rem;
}

.course-item__info-section {
  font-size: 1.4rem;
}

.course-item__info-section__author {
  font-size: 18rem;
  font-weight: bold;
  color: #000000;
  -webkit-line-clamp: 1;
  /* Số dòng tối đa hiển thị */
  -webkit-box-orient: vertical;
  cursor: default;
}

.course-item__info-section__title {
  font-size: 24rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #000000;
  white-space: nowrap;
  flex-shrink: 0;
  cursor: default;
  margin:8rem 0 8rem 0;
}

.mini-icon {
  color: #ff782d;
  font-size: 16rem;
  margin-right: 4rem;
}

.course-item__info-section__price {
  font-size: 20rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #55be23;
  white-space: nowrap;
}

.course-item__info-section__text {
  font-size: 16rem;
  font-weight: 500;
  font-weight: bold;
  text-transform: capitalize;
  color: #000000;
  cursor: default;
}

.course-item__info-section__link {
  font-size: 16rem;
  font-weight: 500;
  line-height: 10rem;
  text-transform: capitalize;
  color: #000000;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.2s ease;
}

.course-item__info-section__link:hover {
  color: #ff782d;
}


/* End of  Course-section */
/* Filter */
.filter-section{
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.filter-part{
  padding-left: 8rem;
  padding-right: 8rem;
}
.filter-part select{
  font-size: 16rem;
  padding-left: 8rem;
  padding-right: 8rem;
  border-radius: 5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;

}
.filter-text{
  min-width: 18%;
  font-weight: bold;
  font-size: 16rem;

}
.filter-btn{
  font-size: 20rem;
  width: 120rem;
  background-color: black;
  border-radius: 4rem;
  color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.filter-btn:hover{
  background-color: #ff782d;
  color: white;
}
#priceTooltip {
  width: 60px;
  text-align: center;
  padding: 5px 0;
}
.slider-container {
  width: 300px;
  max-width: 100%;
  margin: 50px auto;
}