*{
    font-family: "Roboto Regular";
}
.mdi-b.calendar::before{
    content: var(--mdi-account-school);
}
.mdi-b.student::before{
    content: var(--mdi-account-school);
}
.mdi-b.document::before{
    content: var(--mdi-file-document-multiple);
}
.mdi-b.quiz::before{
    content: var(--mdi-file-question);
}
.mdi-b.video::before{
    content:var(--mdi-video);
}
.mdi-b.file::before{
    content: var(--mdi-file-document);
}
.mdi-b.quiz::before{
    content: var(--mdi-help-circle-outline);
}
.mdi-b.start-date::before{
    content: var(--mdi-clock-start);
}
.mdi-b.end-date::before{
    content: var(--mdi-clock-end);
}
.wrapper{
    width: 100%;
}
main{
    padding: 0;
}
.top{
    background-color: black;
    padding: 28rem 0 48rem 0;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;

}
.course_category{
    color: white;
    padding: 2rem 8rem 2rem 8rem;
    font-size: 12rem;
    font-weight: bold;
    background-color: rgb(134, 134, 134);
    border-radius: 1rem;
    margin-right: 4rem;
}
.course_tutor{
    color: white;
    font-size: 20rem;
    font-weight: 600;
    margin-left: 4rem;
}
.course_name{
    font-size: 36rem;
    color: white;
    text-transform: capitalize;
    margin-top: 8rem;
    font-family: "Roboto Medium";
    margin-bottom: 8rem;
}
.course_info{ 
    color: white;
    font-size: 14rem;
    text-transform: capitalize;
    padding: 0 12rem 0 12rem;
}
.course_info span.mdi-b {
    color: #ff782d;
    margin-right: 4rem;

}
.course__wrapper{
    border-radius: 4rem;
    overflow: hidden;
}
.course__img{
    width: 100%;
    aspect-ratio: 1/0.8;
}
.course_price{
    color: #fc0000;
    font-size: 18rem;
    font-weight: 700;
}
.course_gobtn{
    color: white;
    background-color: #fc0000;
    padding: 8rem 12rem 8rem 12rem;
    border-radius: 6rem;
    font-size: 12rem;
    font-weight: 700;
    text-transform: capitalize; 
}
.course_gobtn:hover{
    background-color: #e10000;
    color: rgb(255, 251, 251);

}

.course__wrapper-inner{
    padding: 8rem 10rem 8rem 10rem;
}
/**  Course Tab */
.main-body{
    margin-top: 42px;
}
.course_nav{
    border: 0.16rem solid rgb(210, 210, 210);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: hidden;

}

.course_tab-item{
    font-size: 24rem;
    text-transform: capitalize; 
    color:black;
    padding: 6rem 8rem 6rem 8rem;
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;

}
.course_tab-item.active{
    color: #ff782d !important;
}
.course_tab-item:hover{
    color: #ff782d !important;
}

/** End Course Tab */

/** Course Tab Content */
.course_tabContent{
    background-color: rgb(240, 237, 237);
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    padding: 10rem;
}
#nav-tong-quan{
    font-size: 16rem;
    font-weight: 400;
}

.course_lesson{
    background: #e3eaef;
    border-radius: 6rem;
    margin-top: 8rem;
    padding: 10rem 8rem 10rem 6rem  ;
}
.course_lesson p{
    cursor: default;
}
.course_lesson-title a{
    text-transform: capitalize;
    font-size: 20rem;
    color: black;
    font-family: "Roboto Bold";
    text-decoration: none;
}
.course_lesson-title a[aria-expanded="false"] .mdi-b.toggle::before
{
    content: var(--mdi-plus);
}
.course_lesson-title a[aria-expanded="true"] .mdi-b.toggle::before
{
    content: var(--mdi-minus);
}
.course_lesson-content{
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
}
.course_lesson-doc{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10rem;
    border-radius: 6rem;
    font-size: 18rem;
    margin-top: 8rem;
    font-family: "Roboto Bold";
    cursor: default;
}
/* End Course Tab Content */