.mdi.-calendar::before{
    content: '\F0679';
}
.mdi.-student::before{
    content: '\F1A20';
}
.mdi.-document::before{
    content: '\F1517';
}
.mdi.-quiz::before{
    content: '\F086F';
}
.mdi.-video::before{
    content: '\F05C3';
}
.wrapper{
    width: 100%;
}
main{
    padding: 0;
}
.top{
    background-color: black;
    padding: 12rem 0 28rem 0;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;

}
.course_category{
    color: white;
    padding: 2rem 8rem 2rem 8rem;
    font-size: 12rem;
    font-weight: bold;
    background-color: rgb(134, 134, 134);
    border-radius: 1rem;
    margin-right: 4rem;
}
.course_tutor{
    color: white;
    font-size: 12rem;
    font-weight: 600;
    margin-left: 4rem;
}
.course_name{
    font-size: 16rem;
    color: white;
    text-transform: capitalize;
    font-family: Exo, 'Source Sans Pro';
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.course_info{ 
    color: white;
    font-size: 8rem;
    text-transform: capitalize;
    font-family: Exo, 'Source Sans Pro';
    padding: 0 12rem 0 12rem;
}
.course_info i {
    color: #ff782d;

}
.course__wrapper{
    border-radius: 4rem;
    overflow: hidden;
}
.course__img{
    width: 100%;
    aspect-ratio: 1/0.8;
}
.course_price{
    color: #fc0000;
    font-size: 8rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Exo, 'Source Sans Pro';
}
.course_gobtn{
    color: white;
    background-color: #fc0000;
    padding: 2rem 4rem 2rem 4rem;
    border-radius: 2rem;
    font-size: 8rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Exo, 'Source Sans Pro';    
}
.course_gobtn:hover{
    background-color: #e10000;
    color: rgb(255, 251, 251);

}

.course__wrapper-inner{
    padding: 4rem 8rem 4rem 8rem;
}
/**  Course Tab */
.main-body{
    margin-top: 42px;
}
.course_nav{
    border: 0.16rem solid rgb(210, 210, 210);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: hidden;

}

.course_tab-item{
    font-size: 12rem;
    text-transform: capitalize;
    font-family: Exo, 'Source Sans Pro';    
    color:black;
    padding: 4rem 6rem 4rem 6rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

}
.course_tab-item.active{
    color: #ff782d !important;
}
.course_tab-item:hover{
    color: #ff782d !important;
}

/** End Course Tab */

/** Course Tab Content */
.course_tabContent{
    background-color: rgb(240, 237, 237);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 8rem;
}
#nav-tong-quan{
    font-size: 10rem;
    text-transform: capitalize;
    font-family: 'Source Sans Pro';  
    font-weight: 400;
}

.course_lesson{
    background: white;
    border-radius: 2rem;
    margin-top: 4rem;
    padding: 6rem 4rem 6rem 4rem  ;
}
.course_lesson-title a{
    text-transform: capitalize;
    font-family: 'Source Sans Pro'; 
    font-size: 10rem;
    color: black;
    text-decoration: none;
}
.course_lesson_duration{
    text-transform: capitalize;
    font-family: 'Source Sans Pro'; 
    font-size: 8rem;

}
/* End Course Tab Content */