main>card.banner {
    background-image: url("/assets/images/banner-main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

main>card.banner>a {
    margin: 1.6em .4em;
}

main>card.courses {
    height: 400rem;
    width: 100%;
}

main>card.courses>.content {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0 -8rem;
    overflow-x: scroll;
    width: calc(100% + 16rem);
}

main>card.courses>.content>a {
    align-items: start;
    background-color: var(--mdc-surface);
    border-radius: 12rem;
    box-sizing: border-box;
    color: var(--mdc-on-surface);
    display: flex;
    flex-flow: column nowrap;
    font-family: Jost, 'Source Sans Pro';
    font-weight: 400;
    height: 240rem;
    justify-content: start;
    margin: 4rem;
    padding: 8rem;
    position: relative;
    unicode-bidi: isolate;
    text-decoration: none;
    width: 250rem;
}

main>card.courses>.content>a:is(:focus, :hover) {
    box-shadow: 1rem 1rem 8rem 2rem var(--mdc-shadow);
}

main>card.courses>.content>a:active {
    box-shadow: 0 0 8rem 2rem var(--mdc-shadow);
}

main>card.courses>.content>a>img.banner {
    border-radius: 4rem;
    height: 124rem;
    width: 234rem;
}

main>card.courses>.content>a>p.name {
    font-family: Exo, 'Source Sans Pro';
    font-size: 11rem;
    font-weight: 700;
    margin: 0;
    padding: 4rem 0;
    overflow: hidden;
}

main>card.courses>.content>a>p.name[instructor]::before {
    display: block;
    color: var(--mdc-on-surface-variant);
    content: attr(instructor);
    font-size: 10rem;
    padding: 4rem 0;
}

main>card.courses>.content>a>.data {
    bottom: 28rem;
    font-size: 10rem;
    height: 16rem;
    line-height: 16rem;
    position: absolute;
}

main>card.courses>.content>a>.data>.mdi-b {
    font-size: 8.5rem;
    height: 16rem;
    line-height: 16rem;
    padding: 0 8rem 0 16rem;
    position: relative;
}

main>card.courses>.content>a>.data>.mdi-b::before {
    font-size: 13rem;
    height: 16rem;
    left: 0;
    line-height: 16rem;
    position: absolute;
}

main>card.courses>.content>a>.data>.mdi-b.calendar::before {
    content: var(--mdi-calendar);
}

main>card.courses>.content>a>.data>.mdi-b.graduation::before {
    content: var(--mdi-school);
}

main>card.courses>.content>a>p.footer {
    border-top: solid 1rem var(--mdc-on-surface);
    bottom: 4rem;
    color: var(--mdc-on-surface);
    display: flex;
    flex-flow: row nowrap;
    font-size: 10rem;
    height: 16rem;
    justify-content: space-between;
    line-height: 16rem;
    position: absolute;
    width: calc(100% - 16rem);
}

main>card.courses>.content>a>p.footer[price]::before {
    display: block;
    color: var(--mdc-error);
    content: attr(price);
    font-size: 10rem;
}

main>card.courses>.content>a:is(:focus, :hover)>:is(.name, .footer) {
    color: var(--mdc-surface-tint);
}

main>card.courses>.content>a:active>:is(.name, .footer) {
    color: var(--mdc-on-surface-variant);
}

main>card.courses>.content.statistic>p {
    align-items: center;
    background-color: var(--mdc-tertiary-container);
    border-radius: 12rem;
    box-sizing: border-box;
    color: var(--mdc-on-tertiary-container);
    display: flex;
    flex-flow: column nowrap;
    font-family: Jost, 'Source Sans Pro';
    font-size: 13rem;
    font-weight: 600;
    height: 56rem;
    justify-content: center;
    margin: 4rem;
    padding: 8rem;
    text-align: center;
    width: calc(25% - 8rem);
}

main>card.courses>.content.statistic>p[value]::before {
    color: var(--mdc-surface-tint);
    content: attr(value);
    font-size: 21rem;
    font-weight: 500;
}

main>card.courses>.content.statistic>p[name]::after {
    content: attr(name);
    font-family: Exo, 'Source Sans Pro';
}

main>card.courses>.content.statistic>p:is(:focus, :hover) {
    box-shadow: 1rem 1rem 8rem 2rem var(--mdc-shadow);
}

main>card.courses>.content.statistic>p:active {
    box-shadow: 0 0 8rem 2rem var(--mdc-shadow);
}

main>card.feedback {
    width: calc(50% - 12rem);
    height: 336rem;
    margin-top: 16px;
}

main>card.feedback>.content {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    padding: 4rem;
    margin: 0 -8rem -8rem;
    width: calc(100% + 16rem);
}

main>card.feedback>.content>.item {
    background-color: var(--mdc-surface);
    border-radius: 20rem;
    box-sizing: border-box;
    flex: 0 0 264rem;
    height: 240rem;
    margin: 4rem;
    padding: 12rem;
    padding-bottom: 40rem;
    position: relative;
}

main>card.feedback>.content>.item.mdi-b::before {
    content: var(--mdi-format-quote-close);
    display: block;
    font-size: 16rem;
}

main>card.feedback>.content>.item:is(:focus, :hover) {
    box-shadow: 1rem 1rem 8rem 2rem var(--mdc-shadow);
}

main>card.feedback>.content>.item:active {
    box-shadow: 0 0 8rem 2rem var(--mdc-shadow);
}

main>card.feedback>.content>.item>.feedback {
    color: var(--mdc-on-surface-variant);
    font-family: Jost, 'Source Sans Pro';
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 8rem 0;
}

main>card.feedback>.content>.item>.owner {
    background-color: var(--mdc-surface);
    bottom: 8rem;
    color: var(--mdc-on-surface);
    font-family: Exo, 'Source Sans Pro';
    font-size: 17rem;
    font-weight: 600;
    line-height: 1.2;
    padding: 0;
    position: absolute;
}

main>card.feedback>.content>.item>.owner[role]::after {
    color: var(--mdc-on-surface-variant);
    content: attr(role);
    display: block;
    font-family: Exo, 'Source Sans Pro';
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.5;
}

main>card.blog {
    height: 336rem;
    width: calc(50% - 12rem);
    margin-top: 16px;
}

main>card.blog>.content {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -8rem;
    overflow-x: scroll;
    width: calc(100% + 16rem);
}

main>card.blog>.content>.item {
    align-items: start;
    background-color: var(--mdc-surface);
    border-radius: 12rem;
    box-sizing: border-box;
    color: var(--mdc-on-surface);
    display: flex;
    flex-flow: column nowrap;
    font-family: Jost, 'Source Sans Pro';
    font-weight: 400;
    height: 240rem;
    justify-content: start;
    margin: 4rem;
    padding: 8rem;
    position: relative;
    unicode-bidi: isolate;
    text-decoration: none;
    width: 140rem;
}

main>card.blog>.content>.item:is(:focus, :hover) {
    box-shadow: 1rem 1rem 8rem 2rem var(--mdc-shadow);
}

main>card.blog>.content>.item:active {
    box-shadow: 0 0 8rem 2rem var(--mdc-shadow);
}

main>card.blog>.content>.item>img.banner {
    border-radius: 4rem;
    height: 124rem;
    width: 124rem;
}

main>card.blog>.content>.item>p.title {
    color: var(--mdc-on-surface-variant);
    font-family: Exo, 'Source Sans Pro';
    font-size: 12rem;
    font-weight: 700;
    height: 36rem;
    line-height: 18rem;
    margin-bottom: 12px;
    padding: 4rem 0;
    text-overflow: ellipsis;
}

main>card.blog>.content>.item>.mdi-b {
    font-size: 13rem;
    height: 16rem;
    line-height: 16rem;
    height: 16rem;
    margin: 0;
    padding: 0 8rem 0 16rem;
    position: relative;
}

main>card.blog>.content>.item>.mdi-b::before {
    font-size: 17rem;
    height: 16rem;
    left: 0;
    line-height: 16rem;
    position: absolute;
}

main>card.blog>.content>.item>.calendar.mdi-b::before {
    content: var(--mdi-calendar);
}

main>card.blog>.content>.item>.detail {
    font-size: 14rem;
    height: 36rem;
    line-height: 18rem;
    margin: 0;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

main>card.blog>.content>.item:is(:focus, :hover)>.title {
    color: var(--mdc-surface-tint);
}

/* main>card.blog>.content>.item:active>.title {
    color: var(--mdc-on-surface-variant);
} */

@media only screen and (max-width: 719px) {
    main>card.section:is(.feedback, .blog) {
        width: calc(100% - 8rem);
    }
}

main>card.footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    font-family: Jost, 'Source Sans Pro';
    height: 320rem;
    padding: 20rem;
    padding-bottom: 60rem;
    position: relative;
    width: calc(100em - 16rem);
    margin-top: 16px;
}

main>card.footer[copyright]::after {
    border: none;
    border-top: solid 1.25rem var(--mdc-on-surface);
    bottom: 0;
    content: attr(copyright);
    font-family: Exo, 'Source Sans Pro';
    font-size: 14rem;
    height: 40rem;
    line-height: 40rem;
    position: absolute;
    text-align: center;
    top: auto;
    width: calc(100% - 48rem);
}

main>card.footer>.greeting {
    color: var(--mdc-on-surface-variant);
    font-family: Jost, "Source Sans Pro";
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 4rem;
    text-align: start;
    text-decoration: none;
    width: 260rem;
}

main>card.footer>.greeting>a {
    background-image: url("/assets/images/icon.png");
    background-size: 40rem;
    background-repeat: no-repeat;
    background-position: 8rem;
    display: block;
    color: var(--mdc-on-surface-variant);
    font-family: Exo, "Source Sans Pro";
    font-size: 19rem;
    font-weight: 700;
    height: 56rem;
    line-height: 56rem;
    padding: 0;
    padding-left: 56rem;
    text-align: start;
    text-decoration: none;
}

main>card.footer>.group {
    color: var(--mdc-on-surface-variant);
    display: block;
    width: 180rem;
}

main>card.footer>.group[label]::before {
    color: var(--mdc-on-surface);
    content: attr(label);
    display: block;
    font-family: Exo, "Source Sans Pro";
    font-size: 20rem;
    font-weight: 700;
    height: 56rem;
    line-height: 56rem;
}

main>card.footer>.group>a {
    color: var(--mdc-on-surface-variant);
    display: block;
    font-family: Jost, "Source Sans Pro";
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 4rem;
    text-align: start;
    text-decoration: none;
}

main>card.footer>.group>a:is(:focus, :hover) {
    color: var(--mdc-surface-tint);
    font-family: Exo, "Source Sans Pro";
    font-weight: 700;
}

main>card.footer>.group>a:is(:focus, :hover) {
    color: var(--mdc-surface-tint);
    font-family: Exo, "Source Sans Pro";
    font-weight: 700;
}

main>card.footer>.contact {
    padding: 0;
    width: 260rem;
}

#to-top-button{
    position: fixed;
    bottom: 20px;
    right: 32px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(183 138 40);
    color: var(--mdc-on-surface);
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    display: none;
}

main>card.footer>.contact>.mdi-b {
    color: var(--mdc-on-surface-variant);
    display: block;
    font-family: Jost, "Source Sans Pro";
    font-size: 17rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 4rem;
    text-align: start;
    text-decoration: none;
}

main>card.footer>.contact>.mdi-b::before {
    font-size: 25rem;
    height: 24rem;
    line-height: 24rem;
    text-align: center;
    vertical-align: middle;
    width: 36rem;
}

main>card.footer>.contact>.addr.mdi-b::before {
    content: var(--mdi-office-building);
}

main>card.footer>.contact>.tel.mdi-b::before {
    content: var(--mdi-deskphone);
}

main>card.footer>.contact>.mob.mdi-b::before {
    content: var(--mdi-cellphone);
}

@media only screen and (max-width: 719px) {
    main>card.footer {
        align-items: start;
        justify-content: start;
        align-content: space-around;
        flex-flow: column wrap;
        height: 500rem;
    }

    main>card.footer>.greeting {
        height: 400rem;
        width: 50%;
    }

    main>card.footer>.group {
        padding: 0;
        width: 50%;
    }
}

@media only screen and (max-width: 519px) {

    main>card.footer,
    main>card.footer>.greeting {
        height: auto;
    }

    main>card.footer,
    main>card.footer>.contact,
    main>card.footer>.greeting,
    main>card.footer>.group {
        width: auto;
    }
}