[mdc-theme] {
    /* <element mdc-theme="<[dark|light|system]>"> */
    --theme-label: Material Design (Color Theme 1);
}

[mdc-theme="dark"] {
    --mdc-primary: rgb(133 214 192);
    --mdc-surface-tint: rgb(133 214 192);
    --mdc-on-primary: rgb(0 56 45);
    --mdc-primary-container: rgb(0 81 67);
    --mdc-on-primary-container: rgb(161 242 220);
    --mdc-secondary: rgb(177 204 195);
    --mdc-on-secondary: rgb(29 53 46);
    --mdc-secondary-container: rgb(51 75 69);
    --mdc-on-secondary-container: rgb(205 232 223);
    --mdc-tertiary: rgb(170 203 227);
    --mdc-on-tertiary: rgb(16 52 71);
    --mdc-tertiary-container: rgb(42 74 95);
    --mdc-on-tertiary-container: rgb(199 231 255);
    --mdc-error: rgb(255 180 171);
    --mdc-on-error: rgb(105 0 5);
    --mdc-error-container: rgb(147 0 10);
    --mdc-on-error-container: rgb(255 218 214);
    --mdc-background: rgb(14 21 19);
    --mdc-on-background: rgb(222 228 224);
    --mdc-surface: rgb(14 21 19);
    --mdc-on-surface: rgb(222 228 224);
    --mdc-surface-variant: rgb(63 73 69);
    --mdc-on-surface-variant: rgb(191 201 196);
    --mdc-outline: rgb(137 147 143);
    --mdc-outline-variant: rgb(63 73 69);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(222 228 224);
    --mdc-inverse-on-surface: rgb(43 50 47);
    --mdc-inverse-primary: rgb(10 107 89);
    --mdc-primary-fixed: rgb(161 242 220);
    --mdc-on-primary-fixed: rgb(0 32 26);
    --mdc-primary-fixed-dim: rgb(133 214 192);
    --mdc-on-primary-fixed-variant: rgb(0 81 67);
    --mdc-secondary-fixed: rgb(205 232 223);
    --mdc-on-secondary-fixed: rgb(7 32 26);
    --mdc-secondary-fixed-dim: rgb(177 204 195);
    --mdc-on-secondary-fixed-variant: rgb(51 75 69);
    --mdc-tertiary-fixed: rgb(199 231 255);
    --mdc-on-tertiary-fixed: rgb(0 30 46);
    --mdc-tertiary-fixed-dim: rgb(170 203 227);
    --mdc-on-tertiary-fixed-variant: rgb(42 74 95);
    --mdc-surface-dim: rgb(14 21 19);
    --mdc-surface-bright: rgb(52 59 56);
    --mdc-surface-container-lowest: rgb(9 15 14);
    --mdc-surface-container-low: rgb(23 29 27);
    --mdc-surface-container: rgb(27 33 31);
    --mdc-surface-container-high: rgb(37 43 41);
    --mdc-surface-container-highest: rgb(48 54 52);
}

[mdc-theme="light"] {
    --mdc-primary: rgb(10 107 89);
    --mdc-surface-tint: rgb(10 107 89);
    --mdc-on-primary: rgb(255 255 255);
    --mdc-primary-container: rgb(161 242 220);
    --mdc-on-primary-container: rgb(0 32 26);
    --mdc-secondary: rgb(75 99 92);
    --mdc-on-secondary: rgb(255 255 255);
    --mdc-secondary-container: rgb(205 232 223);
    --mdc-on-secondary-container: rgb(7 32 26);
    --mdc-tertiary: rgb(66 98 119);
    --mdc-on-tertiary: rgb(255 255 255);
    --mdc-tertiary-container: rgb(199 231 255);
    --mdc-on-tertiary-container: rgb(0 30 46);
    --mdc-error: rgb(186 26 26);
    --mdc-on-error: rgb(255 255 255);
    --mdc-error-container: rgb(255 218 214);
    --mdc-on-error-container: rgb(65 0 2);
    --mdc-background: rgb(245 251 247);
    --mdc-on-background: rgb(23 29 27);
    --mdc-surface: rgb(245 251 247);
    --mdc-on-surface: rgb(23 29 27);
    --mdc-surface-variant: rgb(219 229 224);
    --mdc-on-surface-variant: rgb(63 73 69);
    --mdc-outline: rgb(111 121 117);
    --mdc-outline-variant: rgb(191 201 196);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(43 50 47);
    --mdc-inverse-on-surface: rgb(236 242 238);
    --mdc-inverse-primary: rgb(133 214 192);
    --mdc-primary-fixed: rgb(161 242 220);
    --mdc-on-primary-fixed: rgb(0 32 26);
    --mdc-primary-fixed-dim: rgb(133 214 192);
    --mdc-on-primary-fixed-variant: rgb(0 81 67);
    --mdc-secondary-fixed: rgb(205 232 223);
    --mdc-on-secondary-fixed: rgb(7 32 26);
    --mdc-secondary-fixed-dim: rgb(177 204 195);
    --mdc-on-secondary-fixed-variant: rgb(51 75 69);
    --mdc-tertiary-fixed: rgb(199 231 255);
    --mdc-on-tertiary-fixed: rgb(0 30 46);
    --mdc-tertiary-fixed-dim: rgb(170 203 227);
    --mdc-on-tertiary-fixed-variant: rgb(42 74 95);
    --mdc-surface-dim: rgb(213 219 216);
    --mdc-surface-bright: rgb(245 251 247);
    --mdc-surface-container-lowest: rgb(255 255 255);
    --mdc-surface-container-low: rgb(239 245 241);
    --mdc-surface-container: rgb(233 239 235);
    --mdc-surface-container-high: rgb(227 234 230);
    --mdc-surface-container-highest: rgb(222 228 224);
}

[mdc-theme="dark highContrast"] {
    --mdc-primary: rgb(236 255 247);
    --mdc-surface-tint: rgb(133 214 192);
    --mdc-on-primary: rgb(0 0 0);
    --mdc-primary-container: rgb(137 218 196);
    --mdc-on-primary-container: rgb(0 0 0);
    --mdc-secondary: rgb(236 255 247);
    --mdc-on-secondary: rgb(0 0 0);
    --mdc-secondary-container: rgb(182 209 199);
    --mdc-on-secondary-container: rgb(0 0 0);
    --mdc-tertiary: rgb(248 251 255);
    --mdc-on-tertiary: rgb(0 0 0);
    --mdc-tertiary-container: rgb(174 207 232);
    --mdc-on-tertiary-container: rgb(0 0 0);
    --mdc-error: rgb(255 249 249);
    --mdc-on-error: rgb(0 0 0);
    --mdc-error-container: rgb(255 186 177);
    --mdc-on-error-container: rgb(0 0 0);
    --mdc-background: rgb(14 21 19);
    --mdc-on-background: rgb(222 228 224);
    --mdc-surface: rgb(14 21 19);
    --mdc-on-surface: rgb(255 255 255);
    --mdc-surface-variant: rgb(63 73 69);
    --mdc-on-surface-variant: rgb(243 253 248);
    --mdc-outline: rgb(195 205 200);
    --mdc-outline-variant: rgb(195 205 200);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(222 228 224);
    --mdc-inverse-on-surface: rgb(0 0 0);
    --mdc-inverse-primary: rgb(0 49 39);
    --mdc-primary-fixed: rgb(165 247 224);
    --mdc-on-primary-fixed: rgb(0 0 0);
    --mdc-primary-fixed-dim: rgb(137 218 196);
    --mdc-on-primary-fixed-variant: rgb(0 26 21);
    --mdc-secondary-fixed: rgb(209 237 227);
    --mdc-on-secondary-fixed: rgb(0 0 0);
    --mdc-secondary-fixed-dim: rgb(182 209 199);
    --mdc-on-secondary-fixed-variant: rgb(2 26 21);
    --mdc-tertiary-fixed: rgb(208 234 255);
    --mdc-on-tertiary-fixed: rgb(0 0 0);
    --mdc-tertiary-fixed-dim: rgb(174 207 232);
    --mdc-on-tertiary-fixed-variant: rgb(0 24 38);
    --mdc-surface-dim: rgb(14 21 19);
    --mdc-surface-bright: rgb(52 59 56);
    --mdc-surface-container-lowest: rgb(9 15 14);
    --mdc-surface-container-low: rgb(23 29 27);
    --mdc-surface-container: rgb(27 33 31);
    --mdc-surface-container-high: rgb(37 43 41);
    --mdc-surface-container-highest: rgb(48 54 52);
}

[mdc-theme="light highContrast"] {
    --mdc-primary: rgb(0 40 32);
    --mdc-surface-tint: rgb(10 107 89);
    --mdc-on-primary: rgb(255 255 255);
    --mdc-primary-container: rgb(0 76 63);
    --mdc-on-primary-container: rgb(255 255 255);
    --mdc-secondary: rgb(14 38 32);
    --mdc-on-secondary: rgb(255 255 255);
    --mdc-secondary-container: rgb(47 72 65);
    --mdc-on-secondary-container: rgb(255 255 255);
    --mdc-tertiary: rgb(0 37 55);
    --mdc-on-tertiary: rgb(255 255 255);
    --mdc-tertiary-container: rgb(37 70 90);
    --mdc-on-tertiary-container: rgb(255 255 255);
    --mdc-error: rgb(78 0 2);
    --mdc-on-error: rgb(255 255 255);
    --mdc-error-container: rgb(140 0 9);
    --mdc-on-error-container: rgb(255 255 255);
    --mdc-background: rgb(245 251 247);
    --mdc-on-background: rgb(23 29 27);
    --mdc-surface: rgb(245 251 247);
    --mdc-on-surface: rgb(0 0 0);
    --mdc-surface-variant: rgb(219 229 224);
    --mdc-on-surface-variant: rgb(29 38 35);
    --mdc-outline: rgb(59 69 65);
    --mdc-outline-variant: rgb(59 69 65);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(43 50 47);
    --mdc-inverse-on-surface: rgb(255 255 255);
    --mdc-inverse-primary: rgb(170 252 229);
    --mdc-primary-fixed: rgb(0 76 63);
    --mdc-on-primary-fixed: rgb(255 255 255);
    --mdc-primary-fixed-dim: rgb(0 52 42);
    --mdc-on-primary-fixed-variant: rgb(255 255 255);
    --mdc-secondary-fixed: rgb(47 72 65);
    --mdc-on-secondary-fixed: rgb(255 255 255);
    --mdc-secondary-fixed-dim: rgb(25 49 43);
    --mdc-on-secondary-fixed-variant: rgb(255 255 255);
    --mdc-tertiary-fixed: rgb(37 70 90);
    --mdc-on-tertiary-fixed: rgb(255 255 255);
    --mdc-tertiary-fixed-dim: rgb(11 48 67);
    --mdc-on-tertiary-fixed-variant: rgb(255 255 255);
    --mdc-surface-dim: rgb(213 219 216);
    --mdc-surface-bright: rgb(245 251 247);
    --mdc-surface-container-lowest: rgb(255 255 255);
    --mdc-surface-container-low: rgb(239 245 241);
    --mdc-surface-container: rgb(233 239 235);
    --mdc-surface-container-high: rgb(227 234 230);
    --mdc-surface-container-highest: rgb(222 228 224);
}

[mdc-theme="dark mediumContrast"] {
    --mdc-primary: rgb(137 218 196);
    --mdc-surface-tint: rgb(133 214 192);
    --mdc-on-primary: rgb(0 26 21);
    --mdc-primary-container: rgb(78 159 139);
    --mdc-on-primary-container: rgb(0 0 0);
    --mdc-secondary: rgb(182 209 199);
    --mdc-on-secondary: rgb(2 26 21);
    --mdc-secondary-container: rgb(124 150 142);
    --mdc-on-secondary-container: rgb(0 0 0);
    --mdc-tertiary: rgb(174 207 232);
    --mdc-on-tertiary: rgb(0 24 38);
    --mdc-tertiary-container: rgb(116 149 172);
    --mdc-on-tertiary-container: rgb(0 0 0);
    --mdc-error: rgb(255 186 177);
    --mdc-on-error: rgb(55 0 1);
    --mdc-error-container: rgb(255 84 73);
    --mdc-on-error-container: rgb(0 0 0);
    --mdc-background: rgb(14 21 19);
    --mdc-on-background: rgb(222 228 224);
    --mdc-surface: rgb(14 21 19);
    --mdc-on-surface: rgb(246 252 248);
    --mdc-surface-variant: rgb(63 73 69);
    --mdc-on-surface-variant: rgb(195 205 200);
    --mdc-outline: rgb(155 165 161);
    --mdc-outline-variant: rgb(123 133 129);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(222 228 224);
    --mdc-inverse-on-surface: rgb(37 43 41);
    --mdc-inverse-primary: rgb(0 82 68);
    --mdc-primary-fixed: rgb(161 242 220);
    --mdc-on-primary-fixed: rgb(0 21 16);
    --mdc-primary-fixed-dim: rgb(133 214 192);
    --mdc-on-primary-fixed-variant: rgb(0 62 51);
    --mdc-secondary-fixed: rgb(205 232 223);
    --mdc-on-secondary-fixed: rgb(0 21 16);
    --mdc-secondary-fixed-dim: rgb(177 204 195);
    --mdc-on-secondary-fixed-variant: rgb(35 59 52);
    --mdc-tertiary-fixed: rgb(199 231 255);
    --mdc-on-tertiary-fixed: rgb(0 19 31);
    --mdc-tertiary-fixed-dim: rgb(170 203 227);
    --mdc-on-tertiary-fixed-variant: rgb(23 57 77);
    --mdc-surface-dim: rgb(14 21 19);
    --mdc-surface-bright: rgb(52 59 56);
    --mdc-surface-container-lowest: rgb(9 15 14);
    --mdc-surface-container-low: rgb(23 29 27);
    --mdc-surface-container: rgb(27 33 31);
    --mdc-surface-container-high: rgb(37 43 41);
    --mdc-surface-container-highest: rgb(48 54 52);
}

[mdc-theme="light mediumContrast"] {
    --mdc-primary: rgb(0 76 63);
    --mdc-surface-tint: rgb(10 107 89);
    --mdc-on-primary: rgb(255 255 255);
    --mdc-primary-container: rgb(46 130 111);
    --mdc-on-primary-container: rgb(255 255 255);
    --mdc-secondary: rgb(47 72 65);
    --mdc-on-secondary: rgb(255 255 255);
    --mdc-secondary-container: rgb(97 122 114);
    --mdc-on-secondary-container: rgb(255 255 255);
    --mdc-tertiary: rgb(37 70 90);
    --mdc-on-tertiary: rgb(255 255 255);
    --mdc-tertiary-container: rgb(88 120 142);
    --mdc-on-tertiary-container: rgb(255 255 255);
    --mdc-error: rgb(140 0 9);
    --mdc-on-error: rgb(255 255 255);
    --mdc-error-container: rgb(218 52 46);
    --mdc-on-error-container: rgb(255 255 255);
    --mdc-background: rgb(245 251 247);
    --mdc-on-background: rgb(23 29 27);
    --mdc-surface: rgb(245 251 247);
    --mdc-on-surface: rgb(23 29 27);
    --mdc-surface-variant: rgb(219 229 224);
    --mdc-on-surface-variant: rgb(59 69 65);
    --mdc-outline: rgb(87 97 93);
    --mdc-outline-variant: rgb(115 125 121);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(43 50 47);
    --mdc-inverse-on-surface: rgb(236 242 238);
    --mdc-inverse-primary: rgb(133 214 192);
    --mdc-primary-fixed: rgb(46 130 111);
    --mdc-on-primary-fixed: rgb(255 255 255);
    --mdc-primary-fixed-dim: rgb(4 104 87);
    --mdc-on-primary-fixed-variant: rgb(255 255 255);
    --mdc-secondary-fixed: rgb(97 122 114);
    --mdc-on-secondary-fixed: rgb(255 255 255);
    --mdc-secondary-fixed-dim: rgb(72 97 89);
    --mdc-on-secondary-fixed-variant: rgb(255 255 255);
    --mdc-tertiary-fixed: rgb(88 120 142);
    --mdc-on-tertiary-fixed: rgb(255 255 255);
    --mdc-tertiary-fixed-dim: rgb(64 96 117);
    --mdc-on-tertiary-fixed-variant: rgb(255 255 255);
    --mdc-surface-dim: rgb(213 219 216);
    --mdc-surface-bright: rgb(245 251 247);
    --mdc-surface-container-lowest: rgb(255 255 255);
    --mdc-surface-container-low: rgb(239 245 241);
    --mdc-surface-container: rgb(233 239 235);
    --mdc-surface-container-high: rgb(227 234 230);
    --mdc-surface-container-highest: rgb(222 228 224);
}