main {
    background-color: rgb(22, 94, 82);
}

.checkout-main {
    background-color: #F8F8FC;
    position: relative;
    padding: 24px;
    margin-top: 20px;
}

/* Checkout */
.checkout-header {
    padding: 8px;
    font-size: 28rem;
}

.checkout__right-image {
    width: 80px;
    height: 80px;
}

.checkout__right-info {
    font-weight: 500;
}

.checkout__right-info span {
    font-size: 13px;
    line-height: 8px;
}

.checkout__right-info div {
    font-size: 12px;
    color: #82869E;
}

.edit-order {
    font-size: 14px;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.checkout__left {
    width: 65%;
}

.checkout-address .checkout-address-btn,
.checkout-method .checkout-address-btn {
    width: 100%;
    height: 100px;
    opacity: 1;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid rgb(228, 229, 240);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    min-width: 250px;
    cursor: pointer;
    transition-duration: 80ms;
    font-size: 15rem;
}

.checkout-address-btn.select,
.checkout-method-btn.select {
    border: 1px solid black;
}

.checkout-address__info {
    padding: 0 18px;
}

.checkout-address__info h5,
.checkout-address__info h6 {
    font-size: 14px;

}

.checkout-address__info h5 {
    font-weight: 500;
    margin-bottom: 0;
}

.checkout-address__info h6 {
    font-weight: 400;
    margin-bottom: 0;
}

.checkout-method .checkout-address-btn {
    padding: 18px;
}

.checkout-method .checkout-method-title {
    align-self: flex-start;
    font-weight: 500;
}

.checkout-method .checkout-method-describe {
    color: rgb(130, 134, 158);
    align-self: flex-start;
}

.checkout .modal-cart-body label span {
    color: red; 
    font-size: 20px;
}

.checkout-address-btn button {
    top: 6px;
    border: none;
    background: none;
}

.modal-cart-body select,
.checkout-note input {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid rgb(228, 229, 240);
}

.checkout-note input:focus {
    border: 1px solid rgb(20, 53, 195);
}

.checkout-confirm span {
    font-weight: 500;
}

.btn-payment {
    background-color: #7065f0;
    color: #fff;
    font-size: 20rem;
    border-radius: 6px;
    padding: 10px;
}

.btn-payment:hover {
    opacity: .9;
    background-color: #7065f0;
    color: #fff;
}

/* END Checkout */

/* MODAL */
.modal-cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none;
}

.modal-cart.open {
    display: flex;
}

.modal-cart-dialog {
    background-color: white;
    position: relative;
    animation: modalFadeIn linear 0.4s;
    padding: 24px;
    min-width: 500px;
    min-height: 600px;
    border-radius: 8px;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-cart-header {
    display: flex;
    justify-content: space-between;
}

.modal-cart-body h3,
.modal-cart-header h2 {
    font-size: 24px;
    margin-bottom: 24px;
}

.modal-cart-header i:hover {
    cursor: pointer;
}

.modal-cart-header i:before {
    font-size: 22px;
}

.modal-cart-promotion {
    display: flex;
    justify-content: space-between;
}

.modal-cart-list {
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 6px;
    border: 3px solid #f5f5f5;
}

*::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}

.modal-cart-code {
    width: 76%;
}

.modal-cart-code input {
    padding: 10px 12px;
}

.modal-cart-code input:focus {
    outline-color: #000;
}

.modal-cart-promotion button {
    padding: 10px 22px;
    background-color: white;
}

.modal-cart-promotion button.disabled {
    color: #bbb;
}

.modal-cart-promotion button.disabled:hover {
    cursor: not-allowed;
}

.modal-cart-promotion button:hover {
    color: #000;
    border-color: #000;
}

.modal-cart-promotion button,
.modal-cart-code input {
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    font-size: 13px;
}

.modal-promo-item {
    font-size: 13px;
    padding: 13px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #D0D0D0;
}

.modal-promo-code {
    color: #000;
    font-weight: 500;
    border-radius: 4px;
    border: 2px solid #000;
    padding: 1px 6px;
}

.modal-promo-expiry {
    color: #8D90A6;
}

.modal-promo-add,
.modal-promo-del {
    color: #000;
    cursor: pointer;
}

.modal-cart-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 24px;
}

#saveAddress {
    position: absolute;
    right: 90px;
    bottom: 0;
    margin: 24px;
}

.modal-cart-body .form-row,
.modal-cart-body .form-group {
    margin-bottom: 16px;
}

.modal-cart-body .form-row label,
.modal-cart-body .form-group label {
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
}

.modal-cart-body .form-row select,
.modal-cart-body .form-row input,
.modal-cart-body .form-group input {
    font-size: 14px;
}   