:root {
    font-size: 1px;
    /* phone|tablet|desktop|tv|watch */
    --idiom: "tablet";
}

body {
    background-color: var(--mdc-background);
    inset: 0;
    margin: 0;
    position: fixed;
    z-index: 0;
}

main {
    align-content: start;
    align-items: center;
    background-color: var(--mdc-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 4rem;
    position: absolute;
    overflow-y: scroll;
    z-index: 1;
}

nav {
    z-index: 1;
}

scrim {
    display: none;
    inset: 0;
    position: absolute;
    background-color: var(--mdc-scrim);
    opacity: 0.4;
    z-index: 2;
}

nav.drawer {
    z-index: 3;
}

nav.drawer:not(._closed)~scrim {
    display: block;
}

@media only screen and (min-width: 520px) {
    :root {
        font-size: calc(.125vw + .35px);
        /* phone|tablet|desktop|tv|watch */
        --idiom: "tablet";
    }
}

@media only screen and (min-width: 720px) {
    :root {
        font-size: calc(.125vw - 0.1px);
        /* phone|tablet|desktop|tv|watch */
        --idiom: "tablet";
    }
}

@media only screen and (min-width: 880px) {
    :root {
        font-size: 1px;
        /* phone|tablet|desktop|tv|watch */
        --idiom: "desktop";
    }
}

@media only screen and (min-width: 960px) {
    :root {
        font-size: calc(.4px + .0625vw);
        /* phone|tablet|desktop|tv|watch */
        --idiom: "desktop";
    }
}

@media only screen and (min-width: 1360px) {
    :root {
        font-size: calc(.0625vw - .05px);
        /* phone|tablet|desktop|tv|watch */
        --idiom: "tv";
    }
}

@media only screen and (min-width: 1680px) {
    :root {
        font-size: calc(.25vw - 3.2px);
        /* phone|tablet|desktop|tv|watch */
        --idiom: "tv";
    }
}

@media only screen and (max-width: 480px) {
    :root {
        font-size: 1px;
        /* phone|tablet|desktop|tv|watch */
        --idiom: "phone";
    }
}

@media only screen and (max-width: 400px) {
    :root {
        font-size: .25vw;
        /* phone|tablet|desktop|tv|watch */
        --idiom: "phone";
    }
}