a{
    text-decoration: none;
}
.pagination {
    display: flex;
    column-gap: 4rem;
    align-items:center;
    align-self: center;
    justify-content: center;
    margin-top: 12rem;
}

.pagination-item {
    box-sizing: border-box;
    padding: 6rem;
    border: solid 0.1rem #e9e9e9;
    border-radius: 2.4rem;
    height: 24rem;
    width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item a{
    text-decoration: none;
    color: black;
}
.pagination-item:hover a{
    color: white;
}
.pagination-item.active {
    background-color: black;
    color: white;
}

.pagination-item.active .pagination-item__link {
    color: white;
}

.pagination-item__link {
    text-decoration: none;
    color: black;
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
    height: fit-content;
}

.pagination-item:hover {
    background-color: black;
    color: white;

}

.pagination-item:hover .pagination-item__link {
    color: white;
}